<!-- --footer-start-- -->
<div class="main-footer--container container-fluid d-print-none">
    <div class="content-container container-fluid">
        <div class="row no-margins">
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 no-gutters">
                <div><img src="/static/img/footer-org-logo.png" alt="ООО НАКС Смоленск"></div>
                <div class="main-footer--naks-member--text">Организация является членом Саморегулируемая организация
                    Ассоциация «НАКС».</div>
                <hr class="main-footer--horizontal-line">
                <div class="main-footer-naks-member-logo-container">
                    <div><img src="/static/img/footer-member-of-naks-logo.png" alt="Член СРО Ассоциация НАКС" class="main-footer__member-naks--logo-image"></div>
                    <div class="main-footer__member-naks--logo--text">Организация допущена к выполнению работ по
                        аттестации сварочного производства<br><span class="white-text lowercase">www.naks.ru</span></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2 no-gutters">
                <div>
                    <ul class="main-footer--menu-ul">
                        <li class="main-footer--menu-li">Новости</li>
                        <li class="main-footer--menu-li">О центре</li>
                        <li class="main-footer--menu-li">Услуги</li>
                        <li class="main-footer--menu-li">Руководящий состав</li>
                        <li class="main-footer--menu-li">Документы</li>
                        <hr class="main-footer--horizontal-line">
                        <li class="main-footer--menu-li">Профстандарты в области сварки</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 no-gutters">
                <div class="main-footer__subscribe-container">
                    <div class="main-footer__subscribe--heading">Подписка на новости и обновления</div>
                    <div class="disp-flex">
                        <form class="main-footer__subscribe--form" method="post">
                            {{subscribe_form.email}}
                            <input class="main-footer__subscribe--button" type="submit" name="subscribe_button" value="Отправить">
                            <!--awesome-custom-checkbox-->
                            <label class="checkbox-container">Я даю согласие на обработку моих персональных данных
                                <input type="checkbox" name="pdata">
                                <span class="checkmark"></span>
                            </label>
                            <!--checkbox-end-->
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2 offset-xl-2 col-xl-2 no-gutters">
                <div class="main-footer__contacts-container">
                    <div class="main-footer__contacts-phone-number">8 (4812) 21-40-72</div>
                    <div class="main-footer__contacts-e-mail">info@naks-smolensk.ru</div>
                    <div class="main-footer__contacts-address">214000, город Смоленск, Краснинское шоссе 21, офис 2</div>
                    <div class="main-footer__contacts-address-link">Адрес на карте</div>
                    <div class="main-footer__contacts-send-message--button" id="button_send_message_bottom">Оставить заявку</div>
                </div>
            </div>
        </div>
        <!--row-end-->
        <!--main-footer-end-->
    </div>
    <!--content-container-end-->
</div>
<div class="sub-footer d-print-none">
    <div class="content-container">
        <div class="row align-items-center no-margins">
            <div class="col-xs-12 col-md-6 col-lg-4 text-md-center sm-mb15 no-gutters">ООО АЦ НАКС Смоленск | Все права защищены</div>
            <div class="col-xs-12 col-md-6 col-lg-3 text-center sm-mb15 no-gutters">Политика конфиденциальности</div>
            <div class="col-xs-12 offset-lg-1 col-lg-4 offset-xl-2 col-xl-3 no-gutters">
                <div class="sub-footer__naks-media-logo--container">
                    <div class="pr5">Разработано в НАКС Медиа</div>
                    <img src="/static/img/logo-naks-media.png" alt="НАКС Медиа">
                </div>
            </div>
        </div>
        <!--row-end-->
    </div>
</div>
<!--subfooter-end-->
<!-- --footer-end -->