<!--header-start-->
<div class="header__top-addr-line">
        <div class="header__container container-fluid">
                <div class="row justify-content-between no-margins">
                    <div class="col-xs-12 col-sm-4">
                        <div class="header__top-addr-line-text"><i class="fas fa-map-marker-alt"></i>
                            214000, город Смоленск, Краснинское шоссе 21, офис 2</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="header__top-addr-line-text text-center highlighted">Время работы с
                            09:00 до 19:00</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="header__top-addr-line-text text-right text-sm-center">ООО
                            "НАКС-Смоленск" в реестрах НАКС:
                            <strong>АЦСТ-126 </strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__white-sub-header">
        <div class="row justify-content-between no-margins align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="logo"><a href="/"><img src="/static/img/logo_for_white_header.png" alt="НАКС НАКС-Смоленск"></a></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="subheader__org-phone">8 (4812) 21-40-72</div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="subheader__org-email text-center"><a href="mailto:info@naks-smolensk.ru">info@naks-smolensk.ru</a></div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-4">
                        <div class="disp-flex">
                            <div class="subheader__send-message-button" id="button_send_message">Оставить заявку</div>
                           <a class="subheader__edo-naks-login-button" href="https://ac.naks.ru" target="blank"><i class="fas fa-sign-in-alt"></i>Войти в систему</a>
                        </div>
                    </div>
        </div> <!-- sub-header-end -->
    </div>
<!--header-end-->