<div class="main_content__org_info--container d-print-none">
    <div class="row no-margins">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 no-gutters">
            <div class="container-fluid mb-3">
                <div class="main_content__org_info--naks-logo-image mb5">
                    <img src="/static/img/member-of-naks-logo.png" alt="Член СРО Ассоциация НАКС">
                </div>
                <div class="main-content__org_info--naks-member-text">
                    Организация допущена к выполнению работ по аттестации сварочного производства <br>
                    <span class="naks-site-addr"><a href="http://naks.ru/" target="_blank"><b>www.naks.ru</b></a></span>
                </div>
                <div class="main-content__org_name">АЦ НАКС Смоленск</div>
                <div class="main-content__org_info">Осуществляет деятельность в области аттестации сварочного
                    производства САСв с 2016 года. Аттестационный центр аккредитован Национальным Агентством Контроля
                    Сварки
                    (НАКС)</div>
                <div class="main-content__org_info">Организация имеет собственную лабораторию неразрушающих
                    методов контроля современный сварочный участок. В работе центра заняты квалифицированные и
                    опытные сотрудники в области сварки и неразрушающего контроля</div>
                <a class="main-content__org_info--button" href="{{ menu_urls.0.url }}#page_details_top">Подробнее об
                    организации <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <!--first-col-end-->
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 no-gutters">
            <div class="disp-flex flex-stretch">
                <div class="main-content__org_info--activities_header">УСЛУГИ ЦЕНТРА</div>
                <a class="main-content__org_info--attention" href="/detailview/post/23#page_details_top"><i class="fas fa-exclamation-circle pr5"></i>Информация
                    для заявителей
                    <div>Профессиональные стандарты в области сварки</div>
                </a>

                <a class="main-content__org_info--org-activities" href="/detailview/post/10#page_details_top">Аттестация специалистов сварочного
                    производства</a>
                <a class="main-content__org_info--org-activities" href="/detailview/post/13#page_details_top">Аттестация сварщиков</a>
                <a class="main-content__org_info--org-activities" href="/detailview/post/11#page_details_top">Аттестация сварочного оборудования</a>
                <a class="main-content__org_info--org-activities" href="/detailview/post/14#page_details_top">Аттестация сварочных технологий</a>
                <a class="main-content__org_info--org-activities" href="/detailview/post/12#page_details_top">Оценка квалификации в области сварки</a>

            </div>
            <!--flex-conteiner-end-->
        </div>
        <!--second-col-end-->
    </div>
    <!--row-end-->
</div>
<!---info-container-->
