<div id="modal_send_message" class="modal__send_message_container">
    <div class="modal-content disp-flex">
        <div class="modal__header_continer">
            <div class="close_btn" id="close-modal-send-message">X</div>
            <div class="modal__header_heading">Оставить заявку</div>
            <div class="modal__header_text">Выберите вид аттестации, введите свои контактные данные, и наш специалист
                свяжется с вами в ближайшее время</div>
        </div>
        <form action='/contact/' method='post'>
            <!-- {% csrf_token %} -->
            <div class="modal__form_container">
                <div class="modal__form_input_container">
                    <div class="modal__form_input_label">Имя</div>
                    <input type="text" name="name" class="modal__form_input">
                    <div class="modal__form_input_label">Телефон</div>
                    <input type="text" name="phone" class="modal__form_input">
                    <label class="checkbox-container theme-gray">Аттестация сварщиков
                            <input name="attsv" value="att-welders" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    <label class="checkbox-container theme-gray">Аттестация специалистов сварочного производства
                            <input type="checkbox" name="attsp">
                            <span class="checkmark"></span>
                        </label>
                    <label class="checkbox-container theme-gray">Аттестация сварочного оборудования
                            <input type="checkbox" name="attso">
                            <span class="checkmark"></span>
                        </label>
                    <label class="checkbox-container theme-gray">Аттестация сварочных технологий
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    <label class="checkbox-container theme-gray">Независимая оценка квалификации
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    <div class="modal__form_input_label">Комментарий к заявке</div>
                    <textarea rows="5" cols="20" class="modal__form_textarea"></textarea>
                    <label class="checkbox-container theme-gray">Я даю согласие на обработку моих персональных данных
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <input type="submit" class="form__button">Отправить</div>
                </div>
    
            </div>
        </form>
    </div>
</div>