<div id="modal_ask_question" class="modal-bg">
    <!-- Modal content -->
        <div class="modal-content disp-flex">
            <div class="modal__header_continer">
                <div class="close_btn" id="close-modal-button">X</div>
                <div class="modal__header_heading">Задать вопрос</div>
                <div class="modal__header_text">Вы можете задать любой вопрос, касающийся аттестации в области сварки, и
                    наш специалист ответит вам в ближайшее время.</div>
            </div>
            <div class="modal__form_container">
                <form method='post'>
                    <div class="modal__form_input_container">
                        <div class="modal__form_input_label">Имя</div>
                        {{ ask_question_form.name }}
                        <div class="modal__form_input_label">Телефон</div>
                        {{ ask_question_form.phone }}
                        <div class="modal__form_input_label">Электронная почта</div>
                        {{ ask_question_form.email }}
                        <div class="modal__form_input_label">Ваш вопрос</div>
                        {{ ask_question_form.comment }}
                        <label class="checkbox-container theme-gray">Я даю согласие на обработку моих персональных данных
                                {{ ask_question_form.pdata }}
                                {{ ask_question_form.pdata.errors}}
                                <span class="checkmark"></span>
                        </label>
                        <button type='submit' class="form__button" name='ask_question'>Отправить</button>
                    </div>
                </form>

            </div>
        </div>

    <!-- <script src="../js/modal.js"></script> -->
</div>