<div id="modal_send_message" class="modal__send_message_container">
    <div class="modal-content disp-flex">
        <div class="modal__header_continer">
            <div class="close_btn" id="close-modal-send-message">X</div>
            <div class="modal__header_heading">Оставить заявку</div>
            <div class="modal__header_text">Выберите вид аттестации, введите свои контактные данные, и наш специалист
                свяжется с вами в ближайшее время</div>
        </div>
        <form method='post'>
        
            <!-- {% csrf_token %} -->
            <div class="modal__form_container" enctype="multipart/form-data">
                <div class="modal__form_input_container">
                    {{send_message_form.errors}}
                    <div class="modal__form_input_label">Имя</div>
                    {{send_message_form.name}}
                    <div class="modal__form_input_label">Телефон</div>
                    {{send_message_form.phone}}
                    <div class="modal__form_input_label">Адрес электронной почты</div>
                    {{send_message_form.email}}
                    <label class="checkbox-container theme-gray">Аттестация сварщиков
                            <input name="attsv" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    <label class="checkbox-container theme-gray">Аттестация специалистов сварочного производства
                            <input name="attsp" type="checkbox" >
                            <span class="checkmark"></span>
                        </label>
                    <label class="checkbox-container theme-gray">Аттестация сварочного оборудования
                            <input name="attso" type="checkbox" >
                            <span class="checkmark"></span>
                        </label>
                    <label class="checkbox-container theme-gray">Аттестация сварочных технологий
                            <input name="attst" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    <label class="checkbox-container theme-gray">Независимая оценка квалификации
                            <input name="nok" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    <div class="modal__form_input_label">Комментарий к заявке</div>
                    {{send_message_form.comment}}
                    <label class="checkbox-container theme-gray">Я даю согласие на обработку моих персональных данных
                        {{send_message_form.pdata}}
                        <span class="checkmark"></span>
                    </label>
                    <input type="submit" name="send_message_button" class="form__button" value='Отправить'>
                </div>
    
            </div>
        </form>
    </div>
</div>