<div id="modal_ask_question" class="modal">
    <!-- Modal content -->
        <div class="modal-content disp-flex">
            <div class="modal__header_continer">
                <div class="close_btn" id="close-modal-button">X</div>
                <div class="modal__header_heading">Задать вопрос</div>
                <div class="modal__header_text">Вы можете задать любой вопрос, касающийся аттестации в области сварки, и
                    наш специалист ответит вам в ближайшее время.</div>
            </div>
            <div class="modal__form_container">
                <div class="modal__form_input_container">
                    <div class="modal__form_input_label">Имя</div>
                    <input type="text" class="modal__form_input">
                    <div class="modal__form_input_label">Телефон</div>
                    <input type="text" class="modal__form_input">
                    <div class="modal__form_input_label">Ваш вопрос</div>
                    <textarea rows="5" cols="20" class="modal__form_textarea"></textarea>
                    <label class="checkbox-container theme-gray">Я даю согласие на обработку моих персональных данных
                            <input type="checkbox">
                            <span class="checkmark"></span>
                    </label>
                    <div class="form__button">Отправить</div>
                </div>

            </div>
        </div>

    <!-- <script src="../js/modal.js"></script> -->
</div>