<div class="main-content__nav-menu">
    <div class="row align-items-center no-margins">
        <!--nav menu-start-->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
            <div id="wrap" class="fixed-container">
                <div class="main-content__nav-menu--container">
                    <div class="main-content__nav-menu--menu-item"><a href="/">Главная</a></div>
                    <div class="main-content__nav-menu--menu-item"><a href="/news">Новости</a></div>
                    <div class="main-content__nav-menu--menu-item">О центре</div>
                    <div class="main-content__nav-menu--menu-item">Услуги</div>
                    <div class="main-content__nav-menu--menu-item">Руководящий состав</div>
                    <div class="main-content__nav-menu--menu-item">Документы</div>
                    <div class="main-content__nav-menu--menu-item"><a href="/contact">Контакты</a></div>
                    <a class="burger-icon" id="burger">
                            <i class="fa fa-bars"></i>
                          </a>
                </div>
            </div>
            <!--container-end-->
        </div>
        <!--col-nav-menu-end-->
        <div class="col-xs-12 col-sm-12 offset-md-8 col-md-4 offset-lg-8 col-lg-4 offset-xl-0 col-xl-2">
            <div class="search-input-contain-container">
                <div class="search-input-container">
                    <input placeholder="Поиск" type="text" class="main-content__search-input">
                    <span class="fa fa-search main_content__search_icon"></span>
                </div>
            </div>
        </div>
    </div>
    <!--row-end-->
</div>