{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="content-container" id="documents_top">
       
            <div class="plr20">
                <h2 class="mb-3">Аккредитация в качества аттестационного центра НАКС</h2>
                <ul class="list-group mb-4">
                    {% for document in accreditation_list %}
                    <li class="list-group-item"><i class="far fa-file pr5"></i> {{document.title}} : <a href="{{document.document.url}}">Скачать</a> </li>
                    {% endfor %}
                </ul>
                <h2 class="mb-3">Допуск к деятельности по оценке квалификации в качестве центра оценки квалификации (ЦОК)</h2>
                <ul class="list-group mb-4">
                    {% for document in cok_accreditation_list %}
                    <li class="list-group-item"><i class="far fa-file pr5"></i> {{document.title}} : <a href="{{document.document.url}}">Скачать</a> </li>
                    {% endfor %}
                </ul>
                <h2 class="mb-3">Примеры оценочных средств, используемых для проведения оценки квалификации</h2>
                <ul class="list-group mb-4">
                    {% for document in os_doc_list %}
                    <li class="list-group-item"><i class="far fa-file pr5"></i> {{document.title}} : <a href="{{document.document.url}}">Скачать</a> </li>
                    {% endfor %}
                </ul>
            </div>

    </div>


{% endblock %}