{% extends 'mainapp/base.html' %}

{% block content %}
        <div class="content-container">
            <div class="container-fluid">
                <div class="heading">Новости</div>
            </div>
            <div class="row no-margins">
                 {% for document in docs %}
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date">{{ document.created_date|date:"d-m-Y" }} </div>
                        <div class="news__tag">
                            <div class="news__tag">
                                    {% for tag in document.tags.all %} 
                                    <i class="fas fa-hashtag"></i> {{ tag.name }}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="news__news-heading">
                        <div class="news__line-rect"></div>
                        <div class>
                            <div class="news__news-heading--text">
                            {{ document.title }}
                            </div>
                            <a class="news__button--read-more" href="{{ document.document.url }}">Открыть <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--col3-end-->
            </div>
            <!--row-end---->


            <div class="row no-margins">
                    {% for post in news %}            
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date"> {{ post.published_date|date:"d-m-Y" }} </div>
                        <div class="news__tag">
                                {% for tag in post.tags.all %}
                                <i class="fas fa-hashtag"></i>
                                {{ tag.name }} 
                                {% endfor %}
                        </div>
                    </div>
                    <div class="news__news-record-with-picture">
                        <img src="/static/img/news_pict1.png" alt="bla" class="news__picture">
                        <div class="news__news-record-with-picture--heading">{{ post.title }}</div>
                        <a class="news__news-record-with-picture--button" href="{% url 'post_details' pk=post.pk %}">Подробнее <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>



            <div class="container-fluid">
                <div class="heading">Статьи</div>
            </div>
            <div class="row no-margins">
                <div class="col-xs12 col-lg-4 no-gutters">
                    <div class="news__article-record-container">
                        <div class="news__tags--container">
                            <div class="news__date">09 Июля 2018</div>
                            <div class="news__tag"><i class="fas fa-hashtag"></i> Статья о неразрушающем контроле</div>
                        </div>
                        <div class="news__article-record-heading">Особенности неразрушающего контроля</div>
                        <div class="news__article-record-sub-heading--container">
                            <div class="news__article-record-sub-heading">В соответствии с требованиями действующей
                                нормативной документации</div>
                            <div class="news__article-record__read-more-button">Читать <i class="fas fa-arrow-right"></i></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs12 col-lg-4 no-gutters">
                    <div class="news__article-record-container">
                        <div class="news__tags--container">
                            <div class="news__date">09 Июля 2018</div>
                            <div class="news__tag"><i class="fas fa-hashtag"></i>Статья о сварке</div>
                        </div>
                        <div class="news__article-record-heading">Применение СМТ технологий в сварке</div>
                        <div class="news__article-record-sub-heading--container">
                            <div class="news__article-record-sub-heading">Во всем мире существует необходимость
                                хранения нефти и продуктов</div>
                            <div class="news__article-record__read-more-button">Читать <i class="fas fa-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs12 col-lg-4">
                    <div class="news__article-record-container">
                        <div class="news__tags--container">
                            <div class="news__date">09 Июля 2018</div>
                            <div class="news__tag"><i class="fas fa-hashtag"></i> Статья о оценке квалификации</div>
                        </div>
                        <div class="news__article-record-heading">Соединение разнородных металлов</div>
                        <div class="news__article-record-sub-heading--container">
                            <div class="news__article-record-sub-heading">Развитие и совершенствование современного
                                приборостроения</div>
                            <div class="news__article-record__read-more-button">Читать <i class="fas fa-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row-articles-end-->
        </div>

{% endblock %}