{% extends 'mainapp/base.html' %}

{% block content %}
        <div class="content-container">
            <div class="container-fluid">
                <div class="heading">Новости</div>
            </div>
            <div class="row no-margins">
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date">09 Июля 2018</div>
                        <div class="news__tag"><i class="fas fa-hashtag"></i> Новости НАКС</div>
                    </div>
                    <div class="news__news-heading">
                        <div class="news__line-rect"></div>
                        <div class>
                            <div class="news__news-heading--text"><b>Соглашение о сотрудничестве</b> между Советом по
                                профессиональным квалификациям в
                                области сварки и <b>Оренбургским союзом промышленников и предпринимателей</b>
                            </div>
                            <div class="news__button--read-more">Читать <i class="fas fa-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
                <!--col1-end-->
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date">09 Июля 2018</div>
                        <div class="news__tag"><i class="fas fa-hashtag"></i> Новости нашего центра</div>
                    </div>
                    <div class="news__news-heading">
                        <div class="news__line-rect"></div>
                        <div class="news__news-heading--text">Письмо Федеральной службы по экологическому,
                            технологическому и атомному надзору (РОСТЕХНАДЗОР), О вопросах аттестации сварочного
                            производства</div>
                        <div class="news__button--read-more">Читать <i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
                <!--col2-end-->
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date">09 Июля 2018</div>
                        <div class="news__tag"><i class="fas fa-hashtag"></i> Новости СПКС</div>
                    </div>
                    <div class="news__news-heading">
                        <div class="news__line-rect"></div>
                        <div class="news__news-heading--text">Соглашение между Советом по профессиональным
                            квалификациям в области сварки и Министерством труда и социальной защиты населения
                            Забайкальского края</div>
                        <div class="news__button--read-more">Читать <i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
                <!--col3-end-->
            </div>
            <!--row-end---->
            <div class="row no-margins">
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date">09 Июля 2018</div>
                        <div class="news__tag"><i class="fas fa-hashtag"></i> Новости СПКС</div>
                    </div>
                    <div class="news__news-record-with-picture">
                        <img src="/static/img/news_pict1.png" alt="bla" class="news__picture">
                        <div class="news__news-record-with-picture--heading">Соглашение о сотрудничестве между СРО НП
                            "НАКС" и CNPC INTERNATIONAL WELDING TRAINING CENTER</div>
                        <div class="news__news-record-with-picture--button">Подробнее <i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date">09 Июля 2018</div>
                        <div class="news__tag"><i class="fas fa-hashtag"></i> Новости СПКС</div>
                    </div>
                    <div class="news__news-record-with-picture">
                        <img src="/static/img/news_pict2.png" alt="blabla" class="news__picture">
                        <div class="news__news-record-with-picture--heading">Соглашение о сотрудничестве между СРО НП
                            "НАКС" и CNPC INTERNATIONAL WELDING TRAINING CENTER</div>
                        <div class="news__news-record-with-picture--button">Подробнее <i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date">09 Июля 2018</div>
                        <div class="news__tag"><i class="fas fa-hashtag"></i> Новости СПКС</div>
                    </div>
                    <div class="news__news-record-with-picture">
                        <img src="/static/img/news_pict3.png" alt="blablabla" class="news__picture">
                        <div class="news__news-record-with-picture--heading">Соглашение о сотрудничестве между СРО НП
                            "НАКС" и CNPC INTERNATIONAL WELDING TRAINING CENTER</div>
                        <div class="news__news-record-with-picture--button">Подробнее <i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="heading">Статьи</div>
            </div>
            <div class="row no-margins">
                <div class="col-xs12 col-lg-4 no-gutters">
                    <div class="news__article-record-container">
                        <div class="news__tags--container">
                            <div class="news__date">09 Июля 2018</div>
                            <div class="news__tag"><i class="fas fa-hashtag"></i> Статья о неразрушающем контроле</div>
                        </div>
                        <div class="news__article-record-heading">Особенности неразрушающего контроля</div>
                        <div class="news__article-record-sub-heading--container">
                            <div class="news__article-record-sub-heading">В соответствии с требованиями действующей
                                нормативной документации</div>
                            <div class="news__article-record__read-more-button">Читать <i class="fas fa-arrow-right"></i></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs12 col-lg-4 no-gutters">
                    <div class="news__article-record-container">
                        <div class="news__tags--container">
                            <div class="news__date">09 Июля 2018</div>
                            <div class="news__tag"><i class="fas fa-hashtag"></i>Статья о сварке</div>
                        </div>
                        <div class="news__article-record-heading">Применение СМТ технологий в сварке</div>
                        <div class="news__article-record-sub-heading--container">
                            <div class="news__article-record-sub-heading">Во всем мире существует необходимость
                                хранения нефти и продуктов</div>
                            <div class="news__article-record__read-more-button">Читать <i class="fas fa-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs12 col-lg-4">
                    <div class="news__article-record-container">
                        <div class="news__tags--container">
                            <div class="news__date">09 Июля 2018</div>
                            <div class="news__tag"><i class="fas fa-hashtag"></i> Статья о оценке квалификации</div>
                        </div>
                        <div class="news__article-record-heading">Соединение разнородных металлов</div>
                        <div class="news__article-record-sub-heading--container">
                            <div class="news__article-record-sub-heading">Развитие и совершенствование современного
                                приборостроения</div>
                            <div class="news__article-record__read-more-button">Читать <i class="fas fa-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row-articles-end-->
        </div>

{% endblock %}