{% extends 'mainapp/base.html' %}

{% block content %}
        <div class="content-container">
            <div class="container-fluid">
                <div class="heading">Новости</div>
            </div>
            <div class="row no-margins">
                 {% for document in docs %}
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date">{{ document.created_date|date:"d-m-Y" }} </div>
                        <div class="news__tag">
                            <div class="news__tag">
                                    {% for tag in document.tags.all %} 
                                    <i class="fas fa-hashtag"></i> {{ tag.name }}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="news__news-heading">
                        <div class="news__line-rect"></div>
                        <div class>
                            <div class="news__news-heading--text">
                            {{ document.title }}
                            </div>
                            <a class="news__button--read-more" href="{{ document.document.url }}" target="blank">Открыть <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--col3-end-->
            </div>
            <!--row-end---->


            <div class="row row-eq-height no-margins">
                    {% for post, picture in posts.items %}            
                <div class="col-xs-12 col-lg-4 no-gutters">
                    <div class="news__tags--container">
                        <div class="news__date"> {{ post.published_date|date:"d-m-Y" }} </div>
                        <div class="news__tag">
                                {% for tag in post.tags.all %}
                                <i class="fas fa-hashtag"></i>
                                {{ tag.name }} 
                                {% endfor %}
                        </div>
                    </div>
                    <div class="news__news-record-with-picture">
                        <img src="
                        {% if picture != None %}
                            {{ picture.image.url }}
                        {% else %}
                            /static/img/news_pict1.png
                        {% endif %}"
                        alt="{{ post.title }}" class="news__picture">
                        <div class="news__news-record-with-picture--heading">{{ post.title }}</div>
                        <a class="news__news-record-with-picture--button" href="{% url 'post_details'%}?content_type=post&pk={{ post.pk }}">Подробнее <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>



            <div class="container-fluid">
                <div class="heading">Статьи</div>
            </div>
            <div class="row no-margins">
                {% for article in articles %}
                <div class="col-xs12 col-lg-4 no-gutters">
                    <div class="news__article-record-container">
                        
                        <div class="news__tags--container">
                            <div class="news__date">{{article.published_date|date:"d-m-Y"}}</div>
                            
                            {% for tag in article.tags.all %}    
                            <div class="news__tag"><i class="fas fa-hashtag"></i> {{tag.name}}</div>
                            {% endfor %}
                        
                        </div>

                        <div class="news__article-record-heading">{{article.title}}</div>
                        <div class="news__article-record-sub-heading--container">
                            <div class="news__article-record-sub-heading">{{article.short_description}}</div>
                            <a class="news__article-record__read-more-button" href="{% url 'post_details'%}?content_type=article&pk={{ article.pk }}">Читать <i class="fas fa-arrow-right"></i></a>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
            <!--row-articles-end-->
        </div>

{% endblock %}
