{% extends 'mainapp/base.html' %} {% block content %}
<div class="content-container" id="reestr_top">
  <h3>Реестр аттестаций персонала сварочного производства нашего АЦ</h3>
  <div class="row">
    <div class="col-xs-12 col-lg-2">
      <h4>Поиск по записям</h4>
      <form method="get" action="#reestr_top">
        {% comment %} <input type="hidden" name="search2" value="Y"> {% endcomment %}
        <div class="form-group">
          <label for="FIO_field">ФИО аттестуемого</label>
          {{ search_form.fio }}
          <small id="emailHelp" class="form-text text-muted">Реестр обновляется 1 раз в сутки</small>
        </div>
        <div class="form-group">
          <label for="work_place_field">Место работы</label>
          {{ search_form.work_place }}
        </div>
        <button type="submit" class="btn btn-primary" name="search">Поиск</button>
        {% if 'search' in request.build_absolute_uri %}
        <a href="{% url 'reestrsp' %}#reestr_top" class="btn btn-link" name='reset_form'>Сбросить</a>
        {% endif %}

      </form>
    </div>
    <div class="col-xs-12 col-lg-10">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if records.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{{ urls.prev_url }}#reestr_top"><i class="fas fa-arrow-left"></i></a>
          </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link">{{ records.number }} из {{ records.paginator.num_pages }}</a>
          </li>
          {% if records.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ urls.next_url }}#reestr_top"><i class="fas fa-arrow-right"></i></a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <div class="table-responsive-md registry-table">
        <table class="table table-striped table-bordered">
          <thead>
            <th>ФИО</th>
            <th>Место работы</th>
            <th>Должность</th>
            <th>Номер удостоверения</th>
            <th>Область аттестации</th>
            <th>Срок действия</th>
          </thead>
          <tbody>
            {% if records %} {% for record in records %}
            <tr>
              <td>{{ record.fio }}</td>
              <td>{{ record.company }}</td>
              <td>{{ record.position }}</td>
              <td>{{ record.udost }}</td>
              <td>{{ record.vid_d }} - {{ record.obl_att }}</td>
              <td>от {{ record.date_create }} до {{ record.active_to }} {% if record.active_long %} Продление до: {{
                record.active_long }}{% endif %}</td>
            </tr>
            {% endfor %} {% else %}
            <div class="alert alert-warning">Ничего не найдено</div>
            {% endif %}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if records.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{{ urls.prev_url }}#reestr_top"><i class="fas fa-arrow-left"></i></a>
          </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link">{{ records.number }} из {{ records.paginator.num_pages }}</a>
          </li>
          {% if records.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ urls.next_url }}#reestr_top"><i class="fas fa-arrow-right"></i></a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}