{% extends 'mainapp/base.html' %}
{% block content %}
<div class="content-container" id="services_top">
	<div class="card-group mb-3">
		<div class="card">
			<img class="card-img-top" src="/static/img/welder1.jpg" alt="Welder1">
			<div class="card-body">
				<h5 class="card-title">Аттестация персонала сварочного производства</h5>
				<p class="card-text">Мы осуществляем аттестацию сварщиков и специалистов сварочного производства</p>
				<p class="card-text"><normal class="text-primary">Подробная информация и порядок оказания данной услуги: ссылка</normal></p>
				<p class="card-text"><normal class="text-primary"><a href="{% url 'reestrsp' %}#reestr_top">Реестр аттестаций персонала сварочного производства нашего центра</a></normal></p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/static/img/welder2.jpg" alt="Welder2">
			<div class="card-body">
				<h5 class="card-title">Аттестация сварочного оборудования и технологий</h5>
				<p class="card-text">Мы осуществляем аттестацию сварочного оборудования и технологий в соответствии с РД НАКС</p>
				<p class="card-text"><normal class="text-primary">Подробная информация и порядок оказания данной услуги: ссылка</normal></p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/static/img/welder3.jpg" alt="Welder3">
			<div class="card-body">
				<h5 class="card-title">Оценка квалификация персонала сварочного производства</h5>
				<p class="card-text">Наша организация была отобрана советом по профессиональным квалификациям в области сварки (СПКС) для осуществления
					деятельности по оценке квалификации персонала сварочного производства</p>
				<p class="card-text"><normal class="text-primary">Подробная информация и порядок оказания данной услуги: ссылка</normal></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
